$theme-colors: (
  "primary": rgba(0, 123, 255, 0.8)
);

#mc_embed_signup {
    display: inline-block;
    h5 {
        margin: 0;
        margin-bottom: 0;
    }
}

.form-control {
    border-radius: 0;
    margin: 0.3em;
    width: 75%;
    display: inline;
}

.btn {
    border-radius: 0;
}
