#wrapper {
    text-align: center;
    width: 50%;
    margin: auto;
}

#top-bar {
    text-align: right;
    list-style-type: none;
}

#top-bar li {
    display: inline;
    padding-right: 10px;
}

#header h1 {
    display: inline;
}

.info:nth-child(odd) {
    text-align: left;
}

.info:nth-child(even) {
    text-align: right;
}
