include /templates/mixins.pug
html
    head
        title Superuser Labs
        include /templates/head-includes.pug
        include /templates/analytics-superuserlabs.pug

    body
      +layout
        include /templates/navbar.pug

        main.mdl-layout__content
          +cover('url("/media/tty.gif") 400px', style="padding: 8em 0 8em 0;")
            +text('div', 'text-center', 'white')
              div
                +typo('div', 'display-1')
                  | Turning you into a
                +typo('div', 'display-4') Superuser
              div(style='padding-top: 20px;')
                | Superuser Labs is building #[b(style="color: rgb(255,171,64)") free and open-source software] that empowers users.

          +section
            +cell(12)
              p
                +typo('div', 'display-2') About us
              div
                p
                  | We are a group of developers who are passionate about open-source software and empowering users. 
                  | Originally based in #[b(style="color: #05F") 🇸🇪 Sweden], we have been active since 2017, and have experience working with a wide range of technologies in a range of fields,
                  | including full-stack development, machine learning, algorithmic trading, smart contracts, and decentralized systems.
                p
                  | We build open-source software, and offer consulting services in the fields of software development, machine learning, blockchain technology, and computational neuroscience.

          +section
            +cell(12)
              +typo('div', 'display-2') Our projects

            +cell(12)
              div(style="display: flex; margin-top: 2em;")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  img(src="/media/activitywatch-logo.png" style="width: 8em;")
                div(style="flex-grow: 1")
                  h3 ActivityWatch
                  p 
                    | The world's best free and open-source automated time-tracker.
                    br
                    | Cross-platform, local-first, extensible, and secure.

                  +button("https://github.com/ActivityWatch/activitywatch/releases", style="background-color: #009624").mdl-button--colored.mdl-button--raised
                      | #[i.fas.fa-download] Download
                  +button("https://github.com/ActivityWatch/activitywatch/")
                      | #[i.fab.fa-github] GitHub
                  +button("https://activitywatch.net/")
                      | More info

            +cell(12)
              div(style="display: flex; margin-top: 2em")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  img(src="/media/thankful-logo-512.png" style="width: 8em;")
                div(style="flex-grow: 1")
                  h3 Thankful
                  p(style="margin-bottom: 0.5em") Donate crypto directly to every content creator that you like. Automatically and without middlemen.
                  p.mdl-color-text--grey
                    | #[b Note:] Thankful was discontinued in 2019. We've talked about reviving it, but it's not a priority.
                  // TODO: Change URL to actual website once fixed
                  //+button("https://github.com/SuperuserLabs/thankful", style="background-color: #009624").mdl-button--colored.mdl-button--raised
                      | #[i.fas.fa-download] Get the extension
                  +button("https://github.com/SuperuserLabs/thankful")
                      | #[i.fab.fa-github] GitHub
                  +button("https://superuserlabs.org/thankful/")
                      | More info

            +cell(12)
              div(style="display: flex; margin-top: 2em")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  img(src="/media/uniswap-python.png" style="width: 8em;")
                div(style="flex-grow: 1")
                  h3 uniswap-python
                  p
                    | The unofficial Python library for Uniswap. Funded by #[a(href="https://bounties.gitcoin.co/grants/2631/uniswap-python") Gitcoin] and the Uniswap Grants Program.
                  +button("https://github.com/uniswap-python/uniswap-python")
                      | #[i.fab.fa-github] GitHub

          //+section.mdl-color--grey-800.mdl-color-text--white
            div(style="display: flex")
              div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                +fa('donate', 'fas', 'amber')
              div(style="flex-grow: 1")
                h2 Support us!
                p We rely on donations to keep our work going, keep an eye on this space for donations.

          +section.mdl-color--grey-800.mdl-color-text--white
            +cell(12)
              p
                +typo('div', 'display-2') History
              ul
                li 2014 - Erik starts working on ActivityWatch
                li 2017 - Superuser Labs was born, with Thankful as its initial product.
                li 2019 - Thankful folds, ActivityWatch becomes the main focus again.
                li 2021 - ActivityWatch getting adopted by researchers.
                li 2022 - Superuser Labs formally incorporates as "Superuser Labs Lund AB"
                li 2023 - First consulting customer: University of Ghent

          +section
            +cell(12)
              h2.text-center Team
            +teammember("Erik Bjäreholt", "erik.jpg", "CEO, Developer", github="http://github.com/ErikBjare", linkedin="https://www.linkedin.com/in/erikbjareholt/")
            +teammember("Johan Bjäreholt", "johan.png", "Developer", github="https://github.com/johan-bjareholt", linkedin="https://www.linkedin.com/in/johanbjareholt/")

          +section
            +cell(12)
              h2.text-center Past
            +teammember("Johannes Ahnlide", "johannes.jpg", "Developer", github="https://github.com/ahnlabb")
            +teammember("Jacob Karlsson", "jacob.jpg", "Developer", github="https://github.com/powersource", linkedin="https://www.linkedin.com/in/jacob-karlsson-6a483bb1/")
            +teammember("Patrik Laurell", "patrik.jpg", "Developer", github="https://github.com/patrik-laurell", linkedin="https://www.linkedin.com/in/patrik-laurell-ba5b306b/")
            +teammember("Valthor Halldórsson", "valthor.jpg", "Developer", github="https://github.com/vlthr", linkedin="https://www.linkedin.com/in/valthor-halldorsson-002aaa13a/")
            +teammember("Dwight Lidman", "dwight.jpg", "Developer", github="https://github.com/dwilid", linkedin="https://www.linkedin.com/in/dwight-lidman/", image_style="background-position-y: 10%")
            +teammember("Michael Young", "", "Developer", github="https://github.com/Miyou", linkedin="https://www.linkedin.com/in/michael-young-522148142/")

          +footer
