html
    head
        title Thankful

    body
        div#top
            h1 Be Thankful
        div#section1
            | Stuff
        div#section2
            | More stuff
        div#footer
            | Stuff

