html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/index.css")
        title Thankful

    body
        div#wrapper
            ul#top-bar
                li
                    a(href="idklol") Blog
                li
                    a(href="mb") Forum
                li
                    a(href="https://github.com/SuperuserLabs/thankful") GitHub
            
            div#header Be
                h1 Thankful

            div#info-area
                div.info
                    h2 waow
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut velit malesuada, accumsan ipsum vel, vestibulum massa. Mauris vulputate felis non leo faucibus, a pharetra lacus consequat. Ut non justo velit. Sed nulla ex, tempus non mi quis, facilisis tempus sem. Proin molestie tortor leo, vel sodales nisi faucibus non. Nullam dolor nulla, sodales mattis vulputate eget, interdum a purus. Quisque pulvinar rhoncus turpis, eu suscipit sem malesuada in. Ut vel ante vel dolor convallis ultricies ut ac sapien. Proin elementum non nunc eu tempus. Integer massa ex, gravida vitae faucibus id, pulvinar nec nisi. Aliquam erat volutpat. Aliquam ut eros non erat maximus facilisis. Duis in finibus purus.
                div.info
                    h2 omg
                    p Donec nec elementum augue. Maecenas facilisis est elit, sed eleifend nisi ornare a. Nullam ultricies ante scelerisque tortor fermentum, at cursus justo tincidunt. Aliquam rutrum vitae lorem quis interdum. Donec ut lacus vitae augue pulvinar tincidunt. Sed bibendum tincidunt lacinia. Sed id velit posuere, dignissim arcu ac, fringilla lacus. Proin eget nisi faucibus, posuere risus ut, tristique mi. Morbi sagittis mattis tellus pharetra vulputate. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus posuere eros nunc, eget volutpat velit imperdiet non. Donec ut elit quis orci congue laoreet nec eu magna. Cras facilisis at libero sollicitudin tincidunt. Vestibulum aliquam mauris ac enim mattis, sit amet gravida enim convallis. Vestibulum consequat dui non gravida eleifend. Nam mauris erat, imperdiet quis augue ut, euismod posuere tellus.
                div.info
                    h2 much creators
                    p Cras a lorem non ante dignissim rhoncus. Curabitur lorem nisl, faucibus eu ante sit amet, fringilla congue massa. Quisque sed tempus diam. Nam id libero et nisl pellentesque interdum. Vivamus eget tincidunt arcu. Duis eget volutpat enim. Morbi porta, quam a rhoncus suscipit, ex ex faucibus tellus, eu porttitor tellus elit semper elit. Morbi vestibulum nec nunc ut dapibus. Nam sed ligula faucibus, imperdiet massa non, gravida ex. Vivamus tincidunt augue eget mauris feugiat auctor. Suspendisse sit amet odio a odio pharetra dapibus ultricies in risus. Duis accumsan dolor libero, nec tempor diam tincidunt a. Etiam varius molestie sagittis. Praesent quis venenatis libero, nec pulvinar nunc.
                div.info
                    h2 very microtransaction
                    p Aenean non ante efficitur dolor viverra venenatis. Donec nulla risus, lacinia sed lectus quis, ultricies faucibus nisi. Maecenas at lorem ut ante hendrerit condimentum. Suspendisse a turpis eget neque accumsan suscipit. In hac habitasse platea dictumst. Nunc id diam in dui consectetur laoreet quis vitae tortor. Aliquam tempor malesuada elit sit amet elementum. Aliquam non sem sed sem pharetra hendrerit.

            div#footer
                | Made with 🥔 by SuperuserLabs

