include /templates/mixins.pug
html
    head
        title Superuser Labs
        include /templates/head-includes.pug

        |<!-- Global site tag (gtag.js) - Google Analytics -->
        |<script async src="https://www.googletagmanager.com/gtag/js?id=UA-121118459-1"></script>
        |<script>
        | window.dataLayer = window.dataLayer || [];
        | function gtag(){dataLayer.push(arguments);}
        | gtag('js', new Date());
        |
        | gtag('config', 'UA-121118459-1');
        |</script>

    body
      +layout
        include /templates/navbar.pug

        main.mdl-layout__content
          +cover('url("/media/tty.gif")', style="padding: 8em 0 8em 0")
            +text('div', 'text-center', 'white')
              div
                +typo('div', 'display-1')
                  | Turning you into a
                +typo('div', 'display-4') Superuser
              div(style='padding-top: 20px;')
                | Superuser Labs is building #[a(href="https://en.wikipedia.org/wiki/Free_and_open-source_software" target="blank") free and open-source software] that empowers users.

          +section
            +cell(12)
              h1.display-1 Our projects

            +cell(12)
              div(style="display: flex; margin-top: 2em")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  +fa('ethereum', 'fab', 'blue-grey-900')
                  //-+fa('bitcoin', 'fab', 'amber')
                div(style="flex-grow: 1")
                  h3 Thankful
                  p Donate directly to every content creator online that you like.
                  +button("https://github.com/SuperuserLabs/thankful")
                      | #[i.fab.fa-github] GitHub
                  +button("https://getthankful.io")
                      | More info

            +cell(12)
              div(style="display: flex; margin-top: 2em;")
                div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                  img(src="/media/activitywatch-logo.png" style="width: 8em;")
                div(style="flex-grow: 1")
                  h3 ActivityWatch
                  p Keep track of how you spend time on your computer, keep the data to yourself.
                  +button("https://github.com/ActivityWatch/activitywatch/releases").mdl-button--primary.mdl-button--raised
                      | #[i.fas.fa-download] Download
                  +button("https://github.com/ActivityWatch/activitywatch/")
                      | #[i.fab.fa-github] GitHub
                  +button("https://activitywatch.net/")
                      | More info

          +section.mdl-color--grey-800.mdl-color-text--white
            div(style="display: flex")
              div(style="min-width: 14em; display: flex; align-items: center; justify-content: center")
                +fa('donate', 'fas', 'amber')
              div(style="flex-grow: 1")
                h2 Support us!
                p We rely on donations to keep our work going, keep an eye on this space for donations.

          +section
            +cell(12)
              h2.text-center Team

            mixin teammember(name, imagename, text)
              +cell(4)
                .mdl-card.mdl-shadow--2dp(style="width: 90%")
                  .mdl-card--expand.mdl-card__title(style=`background: url('/media/${imagename}') center / cover; height: 256px;`)
                  .mdl-card__supporting-text
                    h4 #{name}
                    span #{text}

            +teammember("Erik Bjäreholt", "erik.jpg", "Developer")
            +teammember("Johannes Ahnlide", "johannes.jpg", "Developer")
            +teammember("Jacob Karlsson", "jacob.jpg", "Developer")
            +teammember("Patrik Laurell", "patrik.jpg", "Developer")
            +teammember("Johan Bjäreholt", "johan.png", "Developer")
            +teammember("Valthor Halldórsson", "valthor.jpg", "Developer")

          +footer
