include /templates/mixins.pug
html
    - var title = "Superuser Labs"
    include /templates/head.pug

    body
        include /templates/navbar.pug

        +section("6em")
            h1.text-center(style="width: 100%") Turning you into a #[b Superuser]
            div.col-md-6.offset-md-3
                p.text-center
                    | Superuser Labs is building open-source software that empowers users to:
                    div(style="display: flex; justify-content: center")
                        ul(style="display: inline-block;")
                            li Have more privacy
                            li Be in control of their data
                            li Work better together

        +section.bg-primary.text-light
            h1(style="width: 100%; text-align: center") Our projects
            br
            br

        +section.bg-primary.text-light
            div.col
                h2 Thankful
                p Donate directly to every content creator online that you like.
            div.col-md-4(style="text-align: center")
                i.fab.fa-bitcoin.fa-8x(style="color: gold")
                i.fab.fa-ethereum.fa-8x(style="margin-left: 0.25em; color: #444")

        +section.bg-primary.text-light
            div.col
                h2 ActivityWatch
                p Keep track of how you spend time on your computer, keep the data to yourself.
            div.col-md-4(style="text-align: center")
                i.fas.fa-stopwatch.fa-8x

        +section.bg-success.text-white
            div.container
                div.row
                    div.col-sm-4(style="text-align: center")
                        i.fas.fa-donate.fa-8x
                    div.col
                        h2 Support us!
                        p We rely on donations to keep our work going, keep an eye on this space for donations.


        +section.bg-primary.text-white
            h2.text-center.w-100.pb-4 Team
            div.row.text-dark
                mixin teammember(name, imagename, text)
                    div.col-sm-4
                        div.card.mb-4
                            img.card-img-top(src="/media/" + imagename)
                            div.card-body
                                h5.card-title #{name}
                                p.card-text #{text}
                +teammember("Erik Bjäreholt", "erik.jpg", "Developer")
                +teammember("Patrik Laurell", "patrik.jpg", "Developer")
                +teammember("Johannes Ahnlide", "johannes.jpg", "Developer")
                +teammember("Jacob Karlsson", "jacob.jpg", "Developer")
                +teammember("Johan Bjäreholt", "johan.png", "Developer")
                +teammember("Valthor Halldórsson", "valthor.jpg", "Developer")


        include /templates/footer.pug
