---
layout: default
---
include templates/mixins.pug

+section.bg-slate-950.text-white
  div.text-center.h-96.flex.flex-col.justify-center
    div
      div.text-2xl
        | Turning you into a
      div.text-7xl Superuser
    div.pt-10
      | We build #[b(class="text-yellow-300") free and open-source software] that empowers users.

+section.bg-gray-100.py-10
  div.p-4.max-w-4xl.mx-auto
    p.text-center.text-2xl
      | About us
    div
      p.my-4
        | We are a small team of developers and researchers who are passionate about free and open-source software, and we are building such software to empower users (like you!).
      p.my-4
        | Originally based in #[span(class="text-blue-950") 🇸🇪 Sweden], we have been active since 2017, and have experience working with technologies in a wide range of fields,
        | including full-stack development, machine learning, algorithmic trading, smart contracts, and decentralized systems.
      p.my-4
        | We also offer consulting services in the fields of software development, machine learning, and computational neuroscience.

+section.max-w-4xl.mx-auto.py-10
  mixin project(name, imgname)
    div.flex.flex-col.mb-10.p-6(class="md:flex-row")
      // set width to fix image size
      div.w-32.shrink-0.mx-auto(class="md:mx-0 md:mr-10")
        img(src=`/media/${imgname}`)
      div.text-sm
        h3.text-3xl.mb-2= name
        div&attributes(attributes)
          block

  mixin github-stars-badge(repo)
    a(href=`https://github.com/${repo}`, target="_blank")
      img.opacity-80(class="hover:opacity-100" src=`https://img.shields.io/github/stars/${repo}?style=social`)

  div.text-4xl.mb-10.text-center Projects

  +project("ActivityWatch", "activitywatch-logo.png")
    p.mb-4
      | The world's best free and open-source automated time-tracker.
      br
      | Cross-platform, local-first, extensible.

    div.flex.flex-wrap
      +button.mb-3.bg-green-600.border-green-600.text-white(href="https://activitywatch.net/downloads/", class='hover:bg-green-700')
          | #[i.fas.fa-download.mr-1] Downloads
      +button.mb-3(href="https://activitywatch.net/")
          | #[i.fas.fa-globe] Website
      +button.mb-3.border-gray-300(href="https://github.com/ActivityWatch/activitywatch/")
          | #[i.fab.fa-github] GitHub
      +button.mb-3(href="https://docs.activitywatch.net/")
        | #[i.fas.fa-book] Docs
    div.flex.flex-wrap
      +github-stars-badge('ActivityWatch/activitywatch')

  +project("gptme", "gptme-logo.png")
    p.mb-4
      | A chat-CLI for conveniently interacting with LLMs in your terminal, similar to ChatGPT's "Advanced Data Analysis".
      | Has access to tools to run code and modify files on the host machine, to speed up your workflow.
    div.flex.flex-wrap
      +button.mb-3(href="https://github.com/ErikBjare/gptme")
        | #[i.fab.fa-github] GitHub
      +button.mb-3(href="https://erik.bjareholt.com/gptme/docs/")
        | #[i.fas.fa-book] Docs
    div.flex.flex-wrap
      +github-stars-badge('ErikBjare/gptme')

  +project("Thankful", "thankful-logo.png")
    p.mb-1 Donate crypto directly to every content creator that you like. Automatically and without middlemen.
    p.mb-4.text-gray-500
        | #[b Note:] Thankful was discontinued in 2019. We've talked about reviving it, but it's not a priority.
    // TODO: Change URL to actual website once fixed
    //+button(href="https://github.com/SuperuserLabs/thankful", class="bg-green-600 hover:bg-green-700 text-white font-bold py-2 px-4 rounded")
        | #[i.fas.fa-download] Get the extension
    div.flex.flex-wrap
      +button.mb-3(href="https://superuserlabs.org/thankful/")
          | #[i.fas.fa-globe] Website
      +button.mb-3(href="https://github.com/SuperuserLabs/thankful")
          | #[i.fab.fa-github] GitHub
    div.flex.flex-wrap
      +github-stars-badge('SuperuserLabs/thankful')

  +project("uniswap-python", "uniswap-python.png")
    p.mb-4
      | The unofficial Python library for Uniswap. Funded by #[a(href="https://bounties.gitcoin.co/grants/2631/uniswap-python") Gitcoin] and the Uniswap Grants Program.
    div.flex.flex-wrap
      +button.mb-3(href="https://github.com/uniswap-python/uniswap-python")
          | #[i.fab.fa-github] GitHub
      +button.mb-3(href="https://uniswap-python.com/")
        | #[i.fas.fa-book] Docs
    div.flex.flex-wrap
      +github-stars-badge('uniswap-python/uniswap-python')

//+section.bg-gray-800.text-white
  div(class="flex")
    div(class="min-w-56 flex items-center justify-center")
      +fa('donate', 'fas', 'text-yellow-500')
    div(class="flex-grow")
      h2 Support us!
      p We rely on donations to keep our work going, keep an eye on this space for donations.

div.bg-gray-800.text-white.py-10
  div.w-100.max-w-6xl.mx-auto
    div.container.mx-auto.px-6.py-10
      div.flex.flex-col.items-center
        div.text-4xl.mb-10 History
        ul.timeline
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2014
            p Erik starts working on ActivityWatch
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2017
            p Superuser Labs was founded, with Thankful as its initial project.
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2019
            p Thankful folds, ActivityWatch becomes the main focus.
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2021
            p ActivityWatch getting adopted by researchers.
            p Receives Uniswap Grant for uniswap-python
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2022
            p Superuser Labs formally incorporates as "Superuser Labs Lund AB"
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2023
            p First consulting client: University of Ghent
            p March: Erik starts working on gptme
            p September: First public release of gptme
            p December: Erik joins Lovable founding team as first hire
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2024
            p May: Erik leaves Lovable to focus on Superuser Labs and gptme full-time
            p November: gptme-webui and gptme-agent-template is created
          li.border-l-2.border-gray-200.pl-4.pb-4
            p.font-bold 2025
            p January: prototype of landing page for gptme.ai
            p March: initial commit to gptme.ai infra
            p May: initial commit to gptme-tauri

+section.p-10.max-w-3xl.mx-auto(class="sm:p-20")
  h2.text-center.text-4xl.mb-10 Team
  div.grid.grid-cols-1.gap-10(class="sm:grid-cols-2")
    +teammember("Erik Bjäreholt", "erik.jpg", "CEO, Developer", github="http://github.com/ErikBjare", linkedin="https://www.linkedin.com/in/erikbjareholt/")
    +teammember("Johan Bjäreholt", "johan.png", "Developer", github="https://github.com/johan-bjareholt", linkedin="https://www.linkedin.com/in/johanbjareholt/")

div.w-full.bg-gray-800.text-white.p-10.pb-20
  div(class="xl:w-3/4").mx-auto.text-sm
    details
      summary.text-center.text-3xl.py-10(class="hover:cursor-pointer")
        | Past team members
        div.text-xs.text-gray-500
          | (click to expand)

      div.grid.grid-cols-1.gap-10(class="sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4")
        +teammember("Johannes Ahnlide", "johannes.jpg", "Developer", github="https://github.com/ahnlabb")
        +teammember("Jacob Karlsson", "jacob.jpg", "Developer", github="https://github.com/powersource", linkedin="https://www.linkedin.com/in/jacob-karlsson-6a483bb1/")
        +teammember("Patrik Laurell", "patrik.jpg", "Developer", github="https://github.com/patrik-laurell", linkedin="https://www.linkedin.com/in/patrik-laurell-ba5b306b/")
        +teammember("Valthor Halldórsson", "valthor.jpg", "Developer", github="https://github.com/vlthr", linkedin="https://www.linkedin.com/in/valthor-halldorsson-002aaa13a/")
        +teammember("Dwight Lidman", "dwight.jpg", "Developer", github="https://github.com/dwilid", linkedin="https://www.linkedin.com/in/dwight-lidman/", image_style="background-position-y: 10%")
        +teammember("Michael Young", "michael.jpg", "Developer", github="https://github.com/Miyou", linkedin="https://www.linkedin.com/in/michael-young-522148142/")
