include templates/mixins.pug
html
    head
        title {{ title | default: site.title }}

        // Meta tags
        include templates/head-includes.pug

        // Google Analytics
        | {% if site.analytics == "thankful" %}
        +analytics-thankful
        | {% else %}
        +analytics-superuserlabs
        | {% endif %}

    // set background color on body, to match navbar color when scrolling above viewport
    body(style="background-color: rgb(15 23 42)")
      div.flex.flex-col.min-h-screen.justify-between
        include templates/navbar.pug

        main.bg-white
          | {{ content }}

        +footer
