meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

// Tailwind
script(src="https://cdn.tailwindcss.com")
|<script>
| tailwind.config = {
|   theme: {
|     container: {
|       center: true,
|     },
|     extend: {
|       colors: {
|         clifford: '#da373d',
|       }
|     }
|   }
| };
|</script>

// Font Awesome
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

// Custom CSS
link(rel="stylesheet" href="/style.css")

// Fonts (Roboto & Varela Round)
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round" type="text/css")

// jekyll-seo-tag
| {% seo %}
