header.flex.p-4.bg-slate-900.text-xl.whitespace-nowrap(style="font-family: 'Roboto', 'Helvetica', sans-serif;")
  div.text-white
    a.ml-4.font-semibold(href='{{ site.baseurl }}/', class="hover:underline")
      | Superuser Labs

  div.hidden.text-gray-300(class="md:flex")
    a.mx-10(href='https://activitywatch.net/' target="_blank", class="hover:underline")
      img.inline-block.mr-2(src='/media/activitywatch-logo.png', alt='ActivityWatch', width='20px', height='20px')
      | ActivityWatch
    a.mr-10(href='https://github.com/ErikBjare/gptme' target="_blank", class="hover:underline")
      img.inline-block.mr-2(src='/media/gptme-logo.png', alt='gptme', width='20px', height='20px')
      | gptme
    a.mr-10(href='{{ site.baseurl }}/thankful/', class="hover:underline")
      img.inline-block.mr-2(src='/media/thankful-logo.png', alt='Thankful', width='20px', height='20px')
      | Thankful

  div.flex-1.text-right
    a.text-white.mx-2(href='https://github.com/{{ site.github_username }}' target="_blank")
      i.fab.fa-github
    a.text-white.mx-2(href='https://twitter.com/{{ site.twitter_username }}' target="_blank")
      i.fab.fa-twitter
    a.text-white.mx-2(href='https://www.linkedin.com/company/{{ site.linkedin_company }}' target="_blank")
      i.fab.fa-linkedin
