meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

// Favicon
link(rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon")

// MDL
link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
// Possible values for primary: deep_orange, red, pink, purple, deep_purple, indigo, blue, light_blue, cyan, teal, green, light_green, lime, yellow, amber, orange, brown, blue_grey, grey
//- var primary = 'deep_purple';
// Possible values for secondary: deep_orange, red, pink, purple, deep_purple, indigo, blue, light_blue, cyan, teal, green, light_green, lime, yellow, amber, orange
//- var secondary = 'orange';
//link(rel="stylesheet" href=`https://code.getmdl.io/1.3.0/material.${primary}-${secondary}.min.css`)
//script(defer src="https://code.getmdl.io/1.3.0/material.min.js")

script(src="https://cdn.tailwindcss.com")
|<script>
| tailwind.config = {
|   theme: {
|     container: {
|       center: true,
|     },
|     extend: {
|       colors: {
|         clifford: '#da373d',
|       }
|     }
|   }
| };
|</script>

// Font Awesome
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous")

link(rel="stylesheet" href="/index.css")

// Roboto
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css")
