mixin section(padding="4em")
    div(class=attributes.class, style=attributes.style)
        div.container(style=`padding-top: ${padding}; padding-bottom: ${padding}`)
            div.row
                block
