+mlayout('header', 'header')
  +mlayout('div', 'header-row')
    +mlayout('span', 'title') Superuser Labs
    +nav
      +navlink('https://getthankful.io/') Thankful
      +navlink('https://activitywatch.net/') ActivityWatch
    div.mdl-layout-spacer
    +nav
      +navlink('https://github.com/SuperuserLabs/thankful')
          i.fab.fa-github.fa-2x
      +navlink('https://twitter.com/getthankful')
          i.fab.fa-twitter.fa-2x
