header.mdl-layout__header.mdl-layout__header--scroll(style="font-family: 'Roboto', 'Helvetica', sans-serif; background-color: #263238;")
  div.mdl-layout__header-row(style="padding: 0 2em 0 2em")
    span.mdl-layout__title
      a(style="color: #FFF; text-decoration: none; padding-right: 1em",
        href='https://superuserlabs.org/')
        | Superuser Labs
    div.mdl-navigation
      a.mdl-navigation__link(href='https://superuserlabs.org/thankful/', style="font-weight: 500;")
        | Thankful
      a.mdl-navigation__link(href='https://activitywatch.net/', style="font-weight: 500;" target="_blank")
        | ActivityWatch
    div.mdl-layout-spacer
    div.mdl-navigation
      a.mdl-navigation__link(href='https://github.com/SuperuserLabs/' target="_blank")
          i.fab.fa-github.fa-2x
      a.mdl-navigation__link(href='https://twitter.com/SuperusrLabs' target="_blank")
          i.fab.fa-twitter.fa-2x
//-div.mdl-layout__drawer
//-  span.mdl-layout-title Title
