nav.navbar.navbar-light.bg-light.navbar-expand-md
    div.container
        a.navbar-brand(href=env.DEV ? "/" : "https://superuserlabs.github.io/") Superuser Labs
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        div.collapse.navbar-collapse#navbarToggler
            ul.navbar-nav.mr-auto
                li.nav-item(class=title==='Thankful' ? 'font-weight-bold' : '')
                    if env.DEV == "true"
                        a.nav-link(href="/thankful/") Thankful
                    else
                        a.nav-link(href="https://getthankful.io/") Thankful
                li.nav-item
                    a.nav-link(href="https://activitywatch.net/") ActivityWatch
            div
                a(href="https://github.com/SuperuserLabs/thankful")
                    i.fab.fa-github.fa-2x(style="padding: 0.2em; color: #888")
                a(href="https://twitter.com/getthankful")
                    i.fab.fa-twitter.fa-2x(style="padding: 0.2em; color: #888")
