header.flex.justify-between.items-center.bg-slate-900.p-4(style="font-family: 'Roboto', 'Helvetica', sans-serif;")
  div.flex.items-center
    span.text-white.text-lg
      a.text-white.no-underline.pr-4(href='https://superuserlabs.org/')
        | Superuser Labs
    div.flex
      a.text-white.font-medium.px-2(href='https://superuserlabs.org/thankful/')
        | Thankful
      a.text-white.font-medium.px-2(href='https://activitywatch.net/' target="_blank")
        | ActivityWatch
  div.flex
    a.text-white.px-2(href='https://github.com/SuperuserLabs/' target="_blank")
      i.fab.fa-github.text-2xl
    a.text-white.px-2(href='https://twitter.com/SuperusrLabs' target="_blank")
      i.fab.fa-twitter.text-2xl
