include /templates/mixins.pug
html
    head
        title Thankful
        include /templates/head-includes.pug
        include /templates/analytics-thankful.pug

    body
      +layout
        include /templates/navbar.pug

        main.mdl-layout__content
          +cover('linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05))', style="padding: 8em 0em 8em 0")
            +text('div', 'text-center', 'grey-800')
              div
                +typo('div', 'display-4') Be Thankful
              +typo('p', 'headline')
                | Support all the creators that you love, so they can continue their work.
              div
                | Thankful is an open-source browser plugin that makes it easier for you to support your favorite creators.
                br
              hr(style="width: 24em; margin: 2em auto 2em auto;")
              h5(style='margin-bottom: 0.5em')
                b Get started!
              p
                | Are you a creator or do you want to support creators?
              div
                +button('creator.html')
                  | I'm a creator
                +button('donor.html')
                  | I want to support creators


          +section
            +cell(9)
                +sectitle  Support everyone you like
                p The browser extension makes supporting creators easy. It keeps track of the creators you've viewed, gives an overview of them, and then lets you choose who you want to support at the end of every month.
            +cell(3)(align='right')
              +fa('donate', 'fas', 'amber')

          +section.mdl-color--grey-200
            +cell(3)(style="margin-top: 2em")
              +fa('coins', 'fas', 'amber')
            +cell(9)(align='right')
                +sectitle Zero fees
                p The only fees you pay are transaction fees, and the completely optional "I'm thankful for Thankful"-fee.
                  br

          +section
            +cell(9)
                +sectitle A good use case for cryptocurrency
                p.mdl-typography--font-light
                  | While some people in the crypto-community are figuring out how to do all kinds of cool and crazy things using the technology it seems like many people still view it as no more than a high volatility asset swinging between bubbles and crashes. By focusing on vasty improving the experience for an already common use of them (donations) we hope to demystify cryptocurrency and encourage adoption.
                p
                  | Payments currently happen on the Ethereum blockchain* since it currently has the most active development and strongest developer community, but we seek to let you use whichever cryptocurrency you choose.
                p
                  i *support for ERC-20 tokens planned
            +cell(3)(align='right', style="margin-top: 2em")
              span(style="margin-right: 2em")
                +fa('ethereum', 'fab', 'blue-grey-900')
              span
                +fa('bitcoin', 'fab', 'amber')

          +footer.mdl-color--grey-200
