include /templates/mixins.pug
html
    head
        title Thankful
        include /templates/head-includes.pug
        include /templates/analytics-thankful.pug

    body
      +layout
        include /templates/navbar.pug

        +mlayout('main', 'content')
          +cover('800px', '/media/patrik-bkg.jpg')
            +text('div', 'text-center', 'white')
              div(style='padding-top: 160px;')
                +typo('div', 'display-4') Be Thankful
              +typo('p', 'headline')
                | Support for every creator from every thankful user.
              div
                | Thankful is an open-source browser plugin that helps you donate to all your favorite creators using cryptocurrency.
              h5(style='padding-top: 80px;') Get started!
              p
                | Are you a content creator or a donor?
              div
                +button('creator.html')
                  | I'm a creator
                +button('donor.html')
                  | I want to support creators


          +section
            +cell(9).mdl-typography--font-thin
                +sectitle  Support everyone you like
                p Thankful makes it easy to reward every creator you like online.
            +cell(3)(align='right')
              +fa('donate', 'fas', 'amber')

          +section.mdl-color--grey-300
            +cell(3)
              +fa('coins', 'fas', 'amber')
            +cell(9)(align='right').mdl-typography--font-thin
                +sectitle  Zero fees
                p The only fees you pay are transaction fees, and the completely optional "I'm thankful for Thankful"-fee.

          +section
            +cell(9).mdl-typography--font-thin
                +sectitle A good usecase for cryptocurrency
                p.mdl-typography--font-light While some people in the crypto-community are figuring out how to do all kinds of cool and crazy things using the technology it seems like many people still view it as no more than a high volatility asset swinging between bubbles and crashes. By focusing on solving a small and mundane problem we hope to demystify cryptocurrency and facilitate its use in everyday life.
            +cell(3)(align='right')
              +fa('bitcoin', 'fab', 'amber')
              +fa('ethereum', 'fab', 'blue-grey-900')

          include /templates/footer.pug
