html
    - var title = "Thankful"
    include /templates/head.pug

    body
        include /templates/navbar.pug

        div.container
            div.row(style="margin-top: 8em; margin-bottom: 8em")
                h1.text-center(style="width: 100%") Be #[b Thankful]
                div.col-md-6.offset-md-3
                    p.text-center
                        | #[b Thankful] is a browser plugin that helps you donate to everyone you visit online using cryptocurrency.

                    hr
                    include /templates/email-signup.pug

        div(style="padding: 4em;").bg-success.text-white
            div.container
                div.row
                    div.col
                        h2 Support #[b everyone] you like
                        p Thankful tries to make it as easy as possible to reward every creator you like online.
                    div.col-sm-4(style="text-align: center")
                        i.fas.fa-donate.fa-8x

        div(style="padding: 4em;").bg-warning.text-dark
            div.container
                div.row
                    div.col-sm-4(style="text-align: center")
                        i.fas.fa-coins.fa-8x
                    div.col
                        h2 Zero transaction fees#[sup *]
                        p The only fees you pay are cryptocurrency fees, and the completely optional "Support the development of Thankful"-fee.

        div(style="padding: 4em;").bg-primary.text-light
            div.container
                div.row
                    div.col-md-6
                        h2 A good usecase for cryptocurrency
                        p Direct-to-creator donations would never be possible without cryptocurrency like Ethereum or Bitcoin, but now that they are we hope they will become the norm.
                    div.col-md-6(style="text-align: center")
                        i.fab.fa-bitcoin.fa-8x(style="color: gold")
                        i.fab.fa-ethereum.fa-8x(style="margin-left: 0.25em; color: #444")

        div.bg-dark.text-white
            div.container
                p.text-center(style="padding: 2em; margin: 0")
                    b Made with #[i.fas.fa-heart(style="color: red")] by Superuser Labs

