include /templates/mixins.pug
html
    - var title = "Thankful"
    include /templates/head.pug

    body
        include /templates/navbar.pug

        +section("6em")
            div.display-4.text-center.w-100 Be #[b Thankful]
            p.text-center.w-100
                i.text-muted Support for every creator from every #[b.text-dark thankful] user.
            div.col-md-6.offset-md-3
                p.text-center
                    | #[b Thankful] is an open-source browser plugin that helps you donate to all your favorite creators using cryptocurrency.

                //-div(style="display: flex; justify-content: center")
                //-    a.btn.btn-sm.btn-outline-dark.mr-2(href="https://github.com/SuperuserLabs/thankful")
                //-        | #[i.fab.fa-github] GitHub


                hr
                include /templates/email-signup.pug

        +section(style="background-color: rgba(40, 167, 69, 0.8)").text-white
            div.col
                h2 Support #[b everyone] you like
                p Thankful tries to make it as easy as possible to reward every creator you like online.
            div.col-sm-4(style="text-align: center")
                i.fas.fa-donate.fa-8x

        +section(style="background-color: rgba(255, 193, 7, 0.8)").text-dark
            div.col-sm-4(style="text-align: center")
                i.fas.fa-coins.fa-8x
            div.col
                h2 Zero fees#[sup *]
                p The only fees you pay are transaction fees, and the completely optional "I'm thankful for Thankful"-fee.

        +section(style="background-color: rgba(0, 123, 255, 0.8)").text-light
            div.col-md-6
                h2 A good usecase for cryptocurrency
                p Direct-to-creator donations would never be possible without cryptocurrency like Ethereum or Bitcoin, but now that they are we hope they will become the norm.
            div.col-md-6(style="text-align: center")
                i.fab.fa-bitcoin.fa-8x(style="color: #ffcd38")
                i.fab.fa-ethereum.fa-8x(style="margin-left: 0.25em; color: #343a40")

        include /templates/footer.pug
