include /templates/mixins.pug
html
    head
        title Thankful
        include /templates/head-includes.pug
        include /templates/analytics-thankful.pug

    body
      +layout
        include /templates/navbar.pug

        main.mdl-layout__content
          +cover('linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.05))', style="padding: 5em 0em 2em 0")
            +text('div', 'text-center', 'grey-800')
              div
                +typo('div', 'display-4')
                  img(src="/media/thankful-icon-512.png", style="width: 1em; display: inline-block; vertical-align: middle; margin: 0em 0em 0.2em 0")
                  span(style="display: inline-block; vertical-align: middle; font-family: 'Varela round'")
                    | #[b hankful]
              div(style="font-family: 'Varela round'")
                div(style="margin-top: 1.5em; font-size: 1.5em; font-weight: bold;")
                  | Support the creators that you love using cryptocurrency
                div(style="margin-top: 0.6em; font-size: 1.25em")
                  | Easier, fairer, and without middlemen

              hr(style="width: 24em; margin: 2em auto 2em auto;")

              div
                h5
                  b Try the (very early) alpha!
                div(style="display: flex; align-items: center; justify-content: center;")
                  div(style="margin: 0 1em")
                    a(href="https://chrome.google.com/webstore/detail/thankful/eapbondnpopbiepnjfhnaaejfdfjhnde")
                      img(src="https://developer.chrome.com/webstore/images/ChromeWebStore_BadgeWBorder_v2_206x58.png")
                  div
                    a(href="https://addons.mozilla.org/en-US/firefox/addon/getthankful/")
                      img(src="https://addons.cdn.mozilla.net/static/img/addons-buttons/AMO-button_1.png")

                p
                  a(href="/media/screenshot-thankful.png")
                    figure(style="border: 1px solid #555; border-radius: 3px; width: 30em; max-width: 100%; margin: 0 auto 0 auto")
                      img(src="/media/screenshot-thankful-1280x800.png", width="100%")

              div(style="margin: 3em 3em 0 3em")
                include /templates/email-signup-horizontal.pug

              //div
                h5(style='margin-bottom: 0.5em')
                  b Get started!
                p
                  | Are you a creator or do you want to support creators?
                div
                  +button('creator.html')
                    | I'm a creator
                  +button('donor.html')
                    | I want to support creators


          +section
            +cell(9)
                +sectitle Support everyone you like
                p Thankful makes it easy to support creators. It keeps track of your favorite creators and then lets you support those you like the most.
            +cell(3)(align='right')
              +fa('donate', 'fas', 'amber')

          +section.mdl-color--grey-200
            +cell(3)(style="margin-top: 2em")
              +fa('coins', 'fas', 'amber')
            +cell(9)(align='right')
                +sectitle Zero fees
                p The only fees you pay are transaction fees, and the completely optional "I'm thankful for Thankful"-fee.

          +section
            +cell(9)
                +sectitle A good use case for cryptocurrency
                p.mdl-typography--font-light
                  | While some people in the crypto-community are figuring out how to do all kinds of cool and crazy things using the technology it seems like many people still view it as no more than a high volatility asset swinging between bubbles and crashes. By focusing on vastly improving the experience for an already common use of them (donations) we hope to demystify cryptocurrency and encourage adoption.
                p
                  | Payments currently happen on the Ethereum blockchain* since it currently has the most active development and strongest developer community, but we seek to let you use whichever cryptocurrency you choose.
                p
                  i *support for ERC-20 tokens planned
            +cell(3)(align='right', style="margin-top: 2em")
              span(style="margin-right: 2em")
                +fa('ethereum', 'fab', 'blue-grey-900')
              span
                +fa('bitcoin', 'fab', 'amber')

          +section.mdl-color--grey-200
            h2.mdl-typography--display-2-color-contrast(id="screenshot" style="width: 100%; text-align: center")
              | Screenshot

          +section
            include /templates/email-signup-horizontal.pug

          +footer.mdl-color--grey-200
