include /templates/mixins.pug
html
    head
        title Thankful
        link(rel="shortcut icon" type="image/png" href="/media/thankful-logo-512.png")
        include /templates/head-includes.pug
        include /templates/analytics-thankful.pug

    body
      div.flex.flex-col.min-h-screen.justify-between
        include /templates/navbar.pug

        main
          +section.bg-teal-950.text-white
            div.text-center.h-96.flex.flex-col.justify-center
              div
                div.text-4xl
                  img(src="/media/thankful-logo-512.png", style="width: 1em; display: inline-block; vertical-align: middle; margin: 0em 0em 0.2em 0")
                  span(style="display: inline-block; vertical-align: middle; font-family: 'Varela round'")
                    | #[b hankful]
              div(class='pt-10')
                | Support the creators that you love using cryptocurrency
                br
                | Easier, fairer, and without middlemen

          +section.bg-gray-100
            div.max-w-4xl.mx-auto
              p
                div.text-5xl.mb-4 Try the beta!
              div.text-lg
                p.mb-4
                  | ...or get the code on #[a(href="https://github.com/SuperuserLabs/thankful", target="_blank", onclick="getOutboundLink(event); return false;").mdl-typography--body-2-color-contrast GitHub]

          +section.max-w-5xl.mx-auto
            mixin project(name, imgname)
              div.flex.my-8
                div.w-32
                  img(src=`/media/${imgname}`)
                div.flex-grow.ml-10
                  h3.text-3xl.mb-2= name
                  block

            div.text-5xl.my-4 Our projects

            +project("Support everyone you like", "thankful-logo-512.png")
              p
                | Thankful automatically tracks which creators you spend time on. Then at the end of the month, it shows you a list of your top creators and lets you support them by sending them cryptocurrency.
                br
                | We currently support creators on:
                ul(style="padding-left: 2em; margin: 0")
                  li YouTube
                  li GitHub
                  li Medium
                  li ...and more to come

            +project("Healthier incentives, for a better web", "thankful-logo-512.png")
              p
                | There is a fundamental issue on the internet where ad-funded creators have incentive to steal your attention as long as possible instead of providing you with as much value as they can. And if you use an ad blocker, even your favorite creators get nothing from having you in their audience.
                br
                | By using Thankful, you incentivize creators to spend more time and effort on creating #[b what you want].

            +project("A good use case for cryptocurrency", "thankful-logo-512.png")
              p
                | One of the earliest uses for cryptocurrency were donations. People and organizations all over the web accept donations and we want to build on that history and take it to the next level. You can read all about our master plan to make it easier to support every creator online #[a(href="https://github.com/SuperuserLabs/thankful/wiki/Growth-plan") here].
                br
                | Payments are made with Ether*, the currency native to the Ethereum blockchain. This provides low transaction fees and lets us build more advanced features in the future by utilizing smart contracts and the vibrant Ethereum ecosystem.
                br
                i *support for more cryptocurrencies planned

            +project("Zero fees (almost)", "thankful-logo-512.png")
              p
                | The only fees you pay are transaction fees (usually ~1-3%), and the voluntary "I'm thankful for Thankful"-fee. This means #[b creators will get more] of what you give, and #[b reduces fees by about 90%] compared to Patreon.
                br
                | You can read more about how we get rid of almost all fees #[a(href="https://github.com/SuperuserLabs/thankful/wiki/Fees") here].

            +project("Open source, unstoppable, and you own your data", "thankful-logo-512.png")
              p
                | We believe in open source and self-ownership of data. That's why we designed Thankful so that we don't collect any of your data and don't need any servers. Even if we disappeared tomorrow, Thankful would still work.

          +section
            .mx-auto
              +footer
